// CONSTANTS 
$DARK-MODE-PRIMARY: #18181b;
$LIGHT-MODE-PRIMARY: #ffffff;


$MATERIAL-LIGHT-BG: rgba(250, 250, 252, 1);
$MATERIAL-DARK-BG: rgba(24, 24, 27, 1);
$MATERIAL-ELEVATION-1-LIGHT: 0 1px 3px rgba(0, 0, 0, 0.08);
$MATERIAL-ELEVATION-1-DARK: 0 1px 3px rgba(0, 0, 0, 0.2);
$MATERIAL-ELEVATION-2-LIGHT: 0 3px 6px rgba(0, 0, 0, 0.1);
$MATERIAL-ELEVATION-2-DARK: 0 3px 6px rgba(0, 0, 0, 0.25);
$MATERIAL-ELEVATION-3-LIGHT: 0 6px 12px rgba(0, 0, 0, 0.12);
$MATERIAL-ELEVATION-3-DARK: 0 6px 12px rgba(0, 0, 0, 0.3);
$MATERIAL-TRANSITION: all 0.2s ease-in-out;


// media containers (responsive) different devices
$PHONE-MIN-PORTRAIT-W: 30rem;
$TABLET-MIN-PORTRAIT-W: 48rem;
$DESKTOP-DEFAULT-MIN-W: 80rem; // default desktop screens (1920x1080 screens)
$DESKTOP-LARGE-MIN-W: 96rem; // larger desktop screens (ultra-wide)
