// CONSTANTS 
$DARK-MODE-PRIMARY: #18181b;
$LIGHT-MODE-PRIMARY: #ffffff;

// media containers (responsive) different devices
$PHONE-MIN-PORTRAIT-W: 30rem;
$TABLET-MIN-PORTRAIT-W: 48rem;
$DESKTOP-DEFAULT-MIN-W: 80rem; // default desktop screens (1920x1080 screens)
$DESKTOP-LARGE-MIN-W: 96rem; // larger desktop screens (ultra-wide)

