$TABLET-MIN-PORTRAIT-W: 768px;
$PHONE-MIN-PORTRAIT-W: 480px;


.project-container {
  position: relative;
  margin-top: 3rem;
  min-height: calc(100vh - 5rem);
  padding: 2rem;
  width: 100%;
  
  &-bento-grid {
    display: grid;
    margin: 0 auto;
    gap: 1.5rem;
    max-width: 80rem;
    grid-auto-rows: min-content;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $PHONE-MIN-PORTRAIT-W){
      grid-template-columns: 1fr;;
      width: 100%;
      min-width: unset;
    }

    &-item-contain {
      max-height: 25rem;
      overflow: hidden;
      text-decoration: none;
      grid-row: 1 span / 1 span;
      border-radius: 0.75rem;
      padding: 1rem;
      border-color: transparent;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      border-width: 1px;
      height: auto;
      :root.light & {
        background-color: #f0f0f0;
        border-color: black;
        border-width: 1px;
        border-style: solid;
      }
      
      :root.dark & {
        background-color: #1a1a1a;      
        border-color: white 0.2;
        border-width: 1px;
        box-shadow: none;
      }
      
      &-title {
        font-family: 'ui-sans-serif';
        color: rgb(82,82,82);
        font-size: 0.75rem;
        font-weight: 700;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;

        :root.dark & {
          color: rgb(229,229,229);
        }
      }
      &-description {
        font-family: 'ui-sans-serif';
        color: rgb(82,82,82);
        font-size: 0.75rem;

        :root.dark & {
          color: rgb(209,209,209);
        }

      }
    }
    &-img-container {
      border-radius: 0.375rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      
      @media (max-width: $PHONE-MIN-PORTRAIT-W){
        display: none;
        &-img {
          visibility: collapse;
        }
      }

      &-img {
        width: 98%;
        height: auto;
        object-fit: contain;
        border-radius: 0.5rem;
        transition: transform 0.2s ease-in-out;
        margin-bottom: 0.5rem;
      }
    }
  }
  
}



