@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 7fr; /* Left sidebar and main content */
  gap: 0.75rem; /* Space between columns */
  padding: 0.5rem;
  z-index: 1;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.main-content-left-summary {
  grid-template-columns: 1/1;
  background-color: var(--background-color, white);
  padding: 1rem;
}
.main-content-right-summary {
  grid-template-columns: 2/2;
  padding: 1rem;
}

.main-content > * {
  border: 0.01rem solid #333131;
  padding: 1rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr; /* Stack on mobile */
    padding: 1rem;
    border: 0px;
  }
  .main-content-left-summary {
    grid-column: 1/-1;
    display: hidden;
    position: static;
    max-height: none;
  }
  .main-content-right-summary {
    grid-column: 1/-1;
  }
}
.navbar-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
:root.light .navbar-wrapper {
  border-bottom: 1px solid #000;
}
:root.dark .navbar-wrapper {
  border-bottom: 1px solid #2d2d2f;
}
.navbar-brand {
  font-family: serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  text-decoration: none;
  transition: colors 200ms;
}
.navbar-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar-item {
  position: relative;
  color: rgb(82, 82, 91);
  transition: all 200ms;
}
.navbar-item-underline {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: rgb(79, 70, 229);
  transition: all 300ms;
}
.navbar-item-underline--active {
  width: 100%;
}
.navbar-icons {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 1.25rem;
}
.navbar-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: rgb(82, 82, 91);
  transition: colors 200ms;
}

@media (min-width: 640px) {
  .navbar-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .navbar-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.dark-mode-button {
  z-index: 10;
  display: fixed;
  position: absolute;
  bottom: 4.5%;
  right: 1.75%;
  padding: 0.75rem;
  border-radius: 9999px;
}
.dark-mode-button-sun {
  opacity: 1;
  color: rgb(234, 179, 8);
  width: 1.25rem;
  height: 1.25rem;
}
.dark-mode-button-moon {
  opacity: 1;
  color: rgb(55, 65, 81);
  width: 1.25rem;
  height: 1.25rem;
}

.main-footer {
  border-top-width: 1px solid;
  margin-top: 0.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.main-footer-container {
  max-width: 80rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.main-footer-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}
.main-footer-copyright {
  align-self: start;
  font-size: 0.875rem;
  line-height: 1.275rem;
}

@media (min-width: 1024px) {
  .main-footer-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .main-footer-container-flex {
    flex-direction: row;
  }
}
@config "../../tailwind.config.ts";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  --background-color: white;
  --text-color: $DARK-MODE-PRIMARY;
}

.light {
  --background-color: $LIGHT-MODE-PRIMARY;
  --text-color: black;
  color-scheme: light;
}

.dark {
  --background-color: $DARK-MODE-PRIMARY;
  --text-color: white;
  color-scheme: dark;
}

/*# sourceMappingURL=app.css.map */
