// MODULES 
@use 'modules/constants';
@use 'modules/main-grid';
@use 'modules/main-nav';
@use 'modules/dark-mode-button';
@use 'modules/main-footer';
@use 'modules/blog-contain';
@use 'modules/aboutme-contain';
@use 'modules/left-summary';
@use 'modules/playground';
@use 'modules/projects-contain';

// FONTS 
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

// TAILWIND CONFIG 
@config "../../tailwind.config.ts";
@tailwind base;
@tailwind components;
@tailwind utilities;

// ROOT STYLES

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  --background-color: white;
  --text-color: $DARK-MODE-PRIMARY;
}

.light {
  --background-color: $LIGHT-MODE-PRIMARY;
  --text-color: black;
  color-scheme: light;
}

.dark {
  --background-color: $DARK-MODE-PRIMARY;
  --text-color: white;
  color-scheme: dark;
}
 
