@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  background-color: rgb(0, 0, 0);
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.vt323 {
  font-family: 'VT323', monospace;
  font-weight: 600;
  font-style: normal;
}

/* Ensure full height */
html, body {
  height: 100%;
}

